* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background: #D7BFAE;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex: 1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #D7BFAE; /* Areia de Porto Seguro */
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  margin-left: 24px;
  text-decoration: none;
  color: #1B5E20; /* Verde Mata Atlântica */
  font-weight: 600;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #A52A2A; /* Pau-brasil Rubro */
}
